html {
  background-color: #c9b5ab;
  line-height:1.5;
  color: #222;
}
body {
  font-family: 'PT Serif', serif;
  font-size: 1.125rem;
  font-weight: bold;
}

header {
  font-family:'PT Sans', sans-serif;
  font-weight: bold;
  text-decoration:none;
  color: #3f1622;

.beta {
  font-style: italic;
  font-size: bold;
  line-height: 1.5;
}

h1> i {
  font-style: italic;
  font-weight:400;
}

a {
  font-weight:bold;
  text-decoration:none;
}

a:hover {
  color: #3f1622;
 }

 a:link {
   color: #8f2440;
   text-decoration: none;
 }

nav> ol {
  font-family: 'PT Sans', sans-serif;
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: bold;
}

.bundle {
  font-family:'PT Serif', serif;
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
}

.first {
  font-size: 1.125rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: normal;
}

.second {
  font-size: .8rem;
}

.second> b {
  font-weight: bold;
}

 ol {
  list-style-type: lower-greek;
  font-size: 0.8rem;
}

.size {
  font-style: italic;
  font-size: 0.8rem;
  line-height: 1.5;
}

dt> dl {
  font-weight: bold;
}

img {
  width: 100%;
}


blockquote {
  font-size: 1.5rem;
  font-style: italic;
}
blockquote strong {
  font-weight: normal;
}

.chris {
font-size: 0.8rem;
}

aside {
  font-size: 1.125rem;
  line-height: 1.5;
}

ul> li {
  list-style-type: circle;
}
