html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
  font-size: 1.5;
  line-weight: 1.5;

}
img {
  width: 100%;
}
h1, h2 {
  color:
}
.beetroot {
  color: #8f2440;

}
a:hover {
  color: #3f1622;
  text-decoration: none;
 }

 a:link{
   color: #8f2440;
   text-decoration: none;
 }
