html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
  color: #222222;
  font-weight: 1.5;
}

header {
  font-size: 1.5rem;
}

.beetroot {
  list-style-type: none;
}

.bundle {
  font-family:'PT Serif', serif;
  text-align:center;
  font-style: italic;
}

p :nth-first-child {
  font-weight: bold;
}

 ol {
  list-style-type: lower-greek;
}

.size {
  font-style: italic;
}

dt> dl {
  font-weight: bold;
}

img {
  width: 100%;
}

h1, h2 {
  color: #222:
}


a:hover {
  color: #3F1622;
  text-decoration: none;``
 }

 a:link{
   color: #8F2440;
   text-decoration: none;
 }

a{
  font-weight:bold;
}

aside {
  line-height: 1.5;
}
