html {
  background-color: #c9b5ab;
  color: #222;
}

body {
  font-family: "PT Serif", serif;
}

header {
  font-family:"PT Sans", sans-serif;
  font-weight: 700;
  text-decoration:none;
  line-height: normal;
  color: #3f1622;
  line-height:1.5;
}

h1 > i {
  font-style: italic;
  font-weight: 700;
}

a {
  font-weight:700;
  text-decoration:none;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

a:link {
  color: #8f2440;
  text-decoration: none;
}

nav > ol {
  font-family: "PT Sans", sans-serif;
  list-style-type: none;
  font-size: 1.125rem;
  font-weight: 700;
}

.bundle {
  font-family:"PT Serif", serif;
  font-size: 0.8rem;
  line-height: 1.5;
  text-align: center;
  font-style: italic;
}

.first {
  font-size: 1.125rem;
  line-height: 1.5;
  font-style: normal;
  font-weight: 700;
}

.second {
  font-size: 0.8rem;
  font-weight: 400;
}

.second > b {
  font-weight: 700;
}

ol {
  list-style-type: lower-greek;
  font-size: 1.125rem;
  line-height: 1.5;
}

.size {
  font-style: italic;
  font-size: 1.125rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

blockquote strong {
  font-weight: normal;
}

blockquote > cite {
  font-size: 0.8rem;
}

h2 {
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 700;
  color: #3f1622;
}

dl > dt {
  font-weight: bold;
  font-size: 1.125rem;
}

dl > dd {
  font-size: 1.125rem;
}

aside {
  font-size: 1.125rem;
  line-height: 1.5;
}

ul > li {
  list-style-type: circle;
  font-size: 0.8rem;
}
