html {
  background-color: #c9b5ab;
}
body {
  font-family: 'PT Serif';
}

header {
  font-family:'PT Sans', sans-serif;
  font-weight: bold;
  text-decoration:none;
  color: #222;
  font-size: 1.125rem;
}

nav> ol{
  list-style-type: none;
}

.bundle {
  font-family:'PT Serif', serif;
  font-size: 0.8rem;
  text-align:center;
  font-style: italic;
}

.first {
  font-size: 1.125rem;
  line-height: 1.5;
  font-style: italic;
  font-weight: normal;
}

.second {
  font-size: .8rem;
}

.second> b {
  font-weight: bold;
}

 ol {
  list-style-type: lower-greek;
}

.size {
  font-style: italic;
}

dt> dl {
  font-weight: bold;
}

img {
  width: 100%;
}

h2 {
  color: #222;
}

a:hover {
  color: #3f1622;
  text-decoration: none;
 }

 a:link{
   color: #8f2440;
   text-decoration: none;
 }

a{
  font-weight:bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

.chris {
font-size: 1.125;
}

aside {
  line-height: 1.5;
}
