html {
  background-color: #c9b5ab;
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
  color: #222;
  font-weight: 1.5;
}

}
img {
  width: 100%;
}
h1, h2 {
  color: #222:
}
.beetroot {
  color: #8f2440;
  list-style-type: none;

}
a:hover {
  color: #3f1622;
  text-decoration: none;
 }

 a:link{
   color: #8f2440;
   text-decoration: none;
 }
